<div id="myMenuModal" class="modal fade">
    <div class="modal-dialog" style="width:100%;height:100%;padding:0;">
        <div class="modal-content-menu">
            <div class="modal-header" style="height:77px;">
                <button type="button" class="close_but" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body" style="padding-top:0px; ">
                <div class="HeaderH1W">
                    <h1>МАГИСТРАЛЬ</h1>
                    <h3>Продажа нерудных материалов</h3>
                    <div class="line1"></div>
                    <div class="line2"></div>
                </div>
                @{ Html.RenderAction("TopMenu", "Home"); }
            </div>
        </div>
    </div>
</div>

