@{
    ViewBag.Title = "Продажа и доставка нерудных материалов по доступным ценам в Калуге – ООО Магистраль";
    ViewBag.KeyWord = "сыпучие материалы, нерудные материалы, продажа песка, доставка щебня";
    ViewBag.Description = "Купить щебень всех фракций, гравий, песок и ПГС в Калуге и области с карьера. Продажа и доставка щебня песка и других нерудных материалов.ООО &quot;Магистраль&quot;";
}

<div class="MSlider">
    <div class="wrap">
        <div class="HeaderSlide">
          <h1>Доставка<br />нерудных строительных<br /> материалов</h1>
          <p class="lead1">Широкий ассортимент нерудных строительных материалов</p>
          <p><a href="/Home/Products" class="btn btn-primary btn-lg">Подробнее &raquo;</a></p>
        </div>
        <div style="clear:both;"></div>
        <div class="menu-email menu-email-lg ">
            <p>Оставьте<br> заявку на бесплатную <br>консультацию </p>
            <input type="text" name="NameF" id="NameF" />
            <input type="text" name="PhoneF" id="PhoneF" />
            <input type="text" name="EmailF" id="EmailF" />
            <a href="#" onclick="SentForm()" class="btn btn-primary btn-lg">Оставить заявку</a>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="HeaderH1">
        <h1>Наша продукция</h1>
        <div class="line1"></div>
        <div class="line2"></div>
    </div>

    <div class="tabpod">
        <div class="prodCell">
            <a href="\pesok">
                <img src="~/Content/images/Main/pesokMS.jpg" title="Продажа карьерного песка | Магистраль" alt="Карьерный песок" />
                <div class="HeaderProdukt"><span class="NumbPr">01</span><div class="HeadPr">Песок<br> карьерный</div></div>
            </a>
        </div>
        <div class="prodCell">
            <a href="\pesok">
                <img src="~/Content/images/Main/NamPesokMS.jpg" title="Продажа намывного песка | Магистраль" alt="Песок намывной" />
                <div class="HeaderProdukt"><span class="NumbPr">02</span><div class="HeadPr">Песок<br> намывной</div></div>
            </a>
        </div>
        <div class="prodCell">
            <a href="\pgs">
                <img src="~/Content/images/Main/pgsMS.jpg" title="Продажа пгс | Магистраль" alt="Песчано-гравийная смесь" />
                <div class="HeaderProdukt"><span class="NumbPr">03</span><div class="HeadPr">Песчано-гравийная<br>смесь</div></div>
            </a>
        </div>
        <div class="prodCell">
            <a href="\izvestnyak">
                <img src="~/Content/images/Main/SchebenIZV.jpg" title="Продажа извястникового щебня | Магистраль" alt="Щебень извястниковый" />
                <div class="HeaderProdukt"><span class="NumbPr">04</span><div class="HeadPr">Щебень<br> извястниковый</div></div>
            </a>
        </div>
        <div class="prodCell">
            <a href="\gravii">
                <img src="~/Content/images/Main/SchebenIGRV.jpg" title="Продажа гравийного щебня | Магистраль" alt="Щебень гравийный" />
                <div class="HeaderProdukt"><span class="NumbPr">05</span><div class="HeadPr">Щебень<br> гравийный</div></div>
            </a>
        </div>
        <div class="prodCell">
            <a href="\granit">
                <img src="~/Content/images/Main/SchebenIGRA.jpg" title="Продажа гранитного щебня | Магистраль" alt="Щебень гранитный" />
                <div class="HeaderProdukt"><span class="NumbPr">06</span><div class="HeadPr">Гранитный<br> щебень</div></div>
            </a>
       </div>

        <div class="prodCell">
            <a href="\grunt">
                <img src="~/Content/images/Main/grunt.jpg" title="Продажа грунта | Магистраль" alt="грунт" />
                <div class="HeaderProdukt"><span class="NumbPr">07</span><div class="HeadPr">Грунт</div></div>
            </a>
        </div>
        <div class="prodCell">
            <a href="\but">
                <img src="~/Content/images/Main/but.jpg" title="Продажа бутового камня | Магистраль" alt="Бутовый камень" />
                <div class="HeaderProdukt"><span class="NumbPr">08</span><div class="HeadPr">Бутовый<br>камень</div></div>
            </a>
        </div>
        <div class="prodCell">
            <a href="\keramzit">
                <img src="~/Content/images/Main/keramzit.jpg" title="Продажа керамзита | Магистраль" alt="Керамзит" />
                <div class="HeaderProdukt"><span class="NumbPr">09</span><div class="HeadPr">Керамзит</div></div>
            </a>
        </div>
    </div>
</div>

<div class="MDoverie">
    <div class="wrap">
        <div class="HeaderH1W">
            <h1>Почему нам доверяют</h1>
            <div class="line1"></div>
            <div class="line2"></div>
        </div>
        <div class="tabDov">
           <div class="DovCell">
               <span>01</span>
               <img src="~/Content/images/Main/bit.png" />
               <strong>Опыт и репутация</strong>
               <p>10 лет успешной работы <br>на рынке Калужской области</p>
           </div>
            <div class="DovCell">
                <span>02</span>
                <img src="~/Content/images/Main/quantity.png" />
                <strong>Качество продукции</strong>
                <p>Прямые поставки от ведущих<br> производителей региона</p>
            </div>
            <div class="DovCell">
                <span>03</span>
                <img style="right:5em;" src="~/Content/images/Main/trans.png" />
                <strong>Собственный автопарк</strong>
                <p>В нашем распоряжении – <br>спецтехника грузоподъемностью до 25 тонн</p>
            </div>
            <div class="DovCell">
                <span>04</span>
                <img style="right:5em;" src="~/Content/images/Main/Spec.png" />
                <strong>Грамотные специалисты</strong>
                <p>Профессиональные водители, квалифицированные<br> логисты и опытные менеджеры</p>
            </div>
            <div class="DovCell">
                <span>05</span>
                <img src="~/Content/images/Main/clock.png" />
                <strong>Оптимальные сроки поставок</strong>
                <p>Доставка в пределах<br> региона в срок от 1 дня</p>
            </div>
            <div class="DovCell">
                <span>06</span>
                <img style="right:5em;top:-2.9em;" src="~/Content/images/Main/individ.png" />
                <strong>Индивидуальный подход</strong>
                <p>Подбор материалов, персональный<br> расчет стоимости и выгодные скидки</p>
            </div>
        </div>
        <center><a href="#myModal" data-toggle="modal"  class="btn btn-primary btn-lg">Оставить заявку</a></center>
     </div>
</div>
<div class="wrap" style="height:270px;">
    <div class="HeaderH1">
        <h1>Сотрудничество</h1>
        <div class="line1"></div>
        <div class="line2"></div>
    </div>
    <div class="Sotrud_p">ООО «Магистраль» предлагает застройщикам, строительным организациям и частным клиентам услуги поставки нерудных материалов на ваш объект. Сотрудничество по доставке сыпучих материалов происходит без посредников и переплат. Мы поставляем продукцию напрямую с крупнейших карьеров Калужской области, гарантируя высокое качество товаров и бесперебойные поставки в нужных объемах. Мы комплектуем нерудными материалами строительные площадки любых размеров, обеспечивая комплексные поставки на протяжении 10 лет. Доверяя нам снабжение вашего объекта, вы исключите вероятность простоев и увеличите скорость работ. Нас отличает гибкая политика ценообразования.</div>
    <div class="Sotrud_p">Мы гарантируем заказчикам персональные условия сотрудничества с учетом объемов и регулярности поставок. Себестоимость нашей продукции минимальна за счет прямых поставок собственным автотранспортом. Отдел логистики ООО «Магистраль» прокладывают оптимальные маршруты транспортировки, рассчитывая время доставки нерудных материалов с точностью до минуты. Нам доверяют десятки постоянных клиентов, называя главными преимуществами нашего предприятия высокое качество продукции и максимально широкий ассортимент материалов. Мы работаем с клиентами из Калуги и Калужской области, принимая заказы круглосуточно и без выходных.</div>
</div>
<div class="MStep">
    <div class="wrap">
        <div class="HeaderH1W">
            <h1>Как мы работаем</h1>
            <div class="line1"></div>
            <div class="line2"></div>
        </div>
        <div class="Step" style="top:5em;left:5em;">
            <div class="StepImg">
                <span>Этап</span>
                <span class="StepIndex">1</span>
            </div>
            <img id="step1"  src="~/Content/images/Main/strelka.png" />
            <p>Звонок  или<br>заявка с сайта прямо<br>сейчас</p>
        </div>
        <div class="Step" style="top:5em;left:15em;">
            <div class="StepImg">
                <span>Этап</span>
                <span class="StepIndex">2</span>
            </div>
            <img id="step2"  src="~/Content/images/Main/strelka.png" />
            <p>Консультация с<br>менеджером,<br />согласование объемов<br>и сроков поставки</p>
        </div>
        <div class="Step" style="top:5em;left:23.5em;">
            <div class="StepImg">
                <span>Этап</span>
                <span class="StepIndex">3</span>
            </div>
            <p id="steptext">Подписание контракта<br>на поставку</p>
        </div>
        <div class="Step" style="top:23em;left:-23em;">
            <div class="StepImg">
                <span>Этап</span>
                <span class="StepIndex">5</span>
            </div>
            <img  style="position:relative;left:10em;top:-4.5em; transform: scale(-1,-1); " src="~/Content/images/Main/strelka.png" />
            <p>Поставка вашего<br />заказа в срок</p>
        </div>
        <div class="Step" style="top:23em;left:-11em;">
            <div class="StepImg">
                <span>Этап</span>
                <span class="StepIndex">4</span>
            </div>
            <img id="strelkaTr" src="~/Content/images/Main/strelka.png" />
            <p>Отсрочка, предоплата<br>или оплата счета</p>
        </div>
        <div style="clear:both"></div>
        <div class="FreeCons">
            <h1>Бесплатная консультация</h1>
            <p>Введите номер телефона и в течение 9 минут<br> с вами свяжется менеджер</p>
            <input type="text" name="PhoneF1" id="PhoneF1" />
            <a  onclick="SentTwo()" class="btn btn-primary btn-lg">Получить консультацию</a>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="HeaderH1">
        <h1>Полезная информация</h1>
        <div class="line1"></div>
        <div class="line2"></div>
    </div>

    <div class="Info-block">
        <img src="~/Content/images/article/info-scheben.jpg">
        <h2 >Щебень и песок на стройке</h2>
        <p style="margin-top:2em;">На стройке используются разные виды песка и щебня. Карьерный песок хорош на нулевом цикле, речное и очищенное сырье добавляют в высококачественные растворы...</p>
        <a href="/Home/IntInfo" class="btn btn-primary btn-lg">Подробнее</a>
    </div>
    <div class="Info-block">
        <img src="~/Content/images/article/info-scheben2.jpg">
        <h2>Керамзит – производство, полезные характеристики</h2>
        <p>Керамзит имеет пористую поверхность и достаточно легкий вес. Он производится путем обжига наиболее легкоплавких сортов глины. Внешне он схож с гравием, но это только на первый взгляд...</p>
        <a href="/Home/IntInfo" class="btn btn-primary btn-lg">Подробнее</a>
    </div>
    <div class="Info-block">
        <img src="~/Content/images/article/info-pgs.jpg">
        <h2>Фракции щебня - разновидности и особенности</h2>
        <p>Основным строительным материалом является щебень. Он получается при помощи дробления на специальных механизмах горных пород и следующим этапом после...</p>
        <a href="/Home/IntInfo" class="btn btn-primary btn-lg">Подробнее</a>
    </div>
</div>