<div id="myMenuInfo" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content-menu">
            <!-- Основное содержимое модального окна -->
            <div style="padding-top:0px; ">
                @{ Html.RenderAction("LeftMenu", "Home"); }
            </div>
        </div>
    </div>
</div>
