
@{
    ViewBag.Title = "Полезная информация о нерудных материалах";
    ViewBag.KeyWord = "информация о песке, информация о щебне, о нерудных материалах";
    ViewBag.Description = "Полезная информация о нерудных материалах";
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}

<h2>Полезная информация</h2>

