@model IEnumerable<Magistral40.Models.MenuTop>
@{
    Layout = null;
    string st = ViewContext.RouteData.Values["action"].ToString();
    string actM = "";
    if (ViewContext.RouteData.Values["id"] != null)
    {
        actM = ViewContext.RouteData.Values["id"].ToString();
    }

}

    <ul class="nav navbar-nav">
        @foreach (var link in Model)
        {
            
            <li @(actM == link.URL ? "class=active" : "")>
                @if (link.Header !="Полезная информация") {
        @Html.RouteLink(link.Header, new { controller = "Home", action = "TopMenuContext", id = link.URL })
                }
                else { <a href="/InfoRazdel/Щебень">Полезная информация</a>}
            </li>
        }
    </ul>

